.addpd{
    width: 90%;
    border: 1px solid grey;
    margin: 20px 5%;
    border-radius: 20px;
}
.addpd span{
    width: 100px;
    background-color: #D8DEFF;
    color: #2447FF;
    padding: 10px 10px;
    font-weight: 600;
    margin-left: 20px;
    border-radius: 20px;
}
.addtb input{
    margin-bottom: 10px;
}
.addtb tr{
    line-height: 30px;
}
.voucher::placeholder{
    font-weight: 600;
}
.contactform{
    width: 30%;
    margin-right: 2%;
    background-color: aliceblue;
    padding: 10px;
}