.href a {
    color: black;
    font-size: 11px;
    line-height: 19px;
    text-transform: uppercase;
    padding: 0 12px;
    border-right: 1px solid #101010;
  }
  .logomobile {
    display: none;
  }
  .href a:hover {
    text-decoration: underline;
  }
  
  .links div {
    padding: 10px 0px;
  }
  .links a:hover{
    text-decoration: underline
  }
  .links a{
    color: black;
  }
  .containerHeader {
    display: flex;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
    width: 100%;
  }
  @media only screen and (max-width:600px) {
    .containerHeader {
      display: none;
    }
    .footer {
      display: none;
    }
    .logomobile {
      display: flex;
    }
  }